[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bvarsv"]
	path = bvarsv
	url = https://github.com/fk83/bvarsv
[submodule "murphydiagram"]
	path = murphydiagram
	url = https://github.com/fk83/murphydiagram
[submodule "scoringRules"]
	path = scoringRules
	url = https://github.com/fk83/scoringrules
